/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: #fffcf6;
  font-family: "Leferi Base";
  /* font-family: "S-CoreDream"; */
  font-size: 16px;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: -0.02em;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
}
ul,
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: middle;
}
.wrap {
  width: 100%;
}
.inner {
  width: 100%;
  max-width: 1442px;
  margin: 0 auto;
  /* padding: 10px   0; */
}
/* header */
header {
  position: relative;
}
.header {
  position: sticky;
  top: 0;
  width: 100%;
  /* height: 100%; */
  z-index: 15;
  background-color: rgba(255, 255, 255, 0.8);
  /* background-color: rgba(255, 252, 246, 0.2); */
  /* background-color: rgba(255, 255, 255, 0.25); */
  backdrop-filter: blur(16px);
  /* padding-bottom: 60px; */
}
.header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

.left-menu {
  display: flex;
  align-items: center;
  gap: 48px;
}
/* 로고 */
.logo {
}
.logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  /* height: 100%; */
}
.logo a img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.nav {
}
.gnb {
  display: flex;
  gap: 40px;
}
.gnb .menu-item {
  padding-top: 15px;
}
.gnb .menu-item a {
  font-size: 24px;
  font-weight: 700;
  color: #1a1c26;
}
.gnb .menu-item:hover a {
  color: #fe7901;
}
.gnb .menu-item .sub-menu {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  top: 104px;
  left: 0;
  width: 100vw;
  z-index: 5;
  padding: 20px 0;
  /* padding-left: 480px; */
  background: rgba(255, 255, 255, 0.95);
  border-top: 1px solid #e8e8e8;
  visibility: hidden;
  transition: all 0.6s ease;
  /*  */
}
.gnb .menu-item:hover .sub-menu {
  visibility: visible;
}
.gnb .menu-item .sub-menu .sub-inner {
  width: 100%;
  max-width: 1441px;
  padding: 0 240px;
  display: flex;
  gap: 60px;
}
.gnb .menu-item .sub-menu .sub-inner a {
  font-size: 18px;
  font-weight: 600;
  color: #1a1c26;
}
.gnb .menu-item .sub-menu .sub-inner a:hover {
  color: #fe7901;
}
/* 메뉴바 */
.right-menu {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}
.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  /* padding: 4px 8px; */
  padding: 2px 4px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #1a1c26;
}
.search-box input {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 586px;
  height: 42px;
  border: none;
  font-family: "S-CoreDream";
}
.search-box:focus-within {
  border: 2px solid #fe7901;
  /* outline: none; */
}
.search-box:focus-within input {
  outline: none;
}
.search-box ::placeholder {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-family: "S-CoreDream";
  color: #1a1c26;
}
.search-box .search-icon {
  cursor: pointer;
}
.search-box .search-icon .fa-search {
  font-size: 30px;
  color: #1a1c26;
}
.search-box:focus-within .search-icon .fa-search {
  color: #fe7901;
}
.icon-my .fa-user {
  cursor: pointer;
  font-size: 30px;
  color: #1a1c26;
}
.icon-my .fa-user:hover {
  color: #fe7901;
}
.mb-menu {
  display: none;
}

/* footer-section */
.footer-section {
  background-color: #3a3c48;
  width: 100%;
  height: 100%;
}
.footer-section .inner {
  display: flex;
  justify-content: space-between;
  max-width: 1620px;
  padding-top: 48px;
  padding-bottom: 60px;
}
.footer-m {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}
.footer-m ul {
  display: flex;
  gap: 12px;
}
.footer-m ul li {
  padding: 0 10px;
  font-size: 16px;
  font-family: "S-CoreDream";
  color: #fff;
}
.footer-m .copyright {
  padding: 0 10px;
  font-size: 12px;
  font-weight: 300;
  color: #fffcf6;
}
.sns-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.sns-list li {
  position: relative;
}
.sns-list li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 8px;
  border-radius: 24px;
  background-color: #fff;
  cursor: pointer;
}
.sns-list li a i {
  font-size: 20px;
  color: #1a1c26;
}
.sns-list li a:hover i {
  color: #fe7901;
}
/* main.html */
.hero-bg {
  position: absolute; /* hero-section 기준으로 뒤에 깔림 */
  top: 10%;
  left: 25%;
  z-index: 0;
}

.hero-bg img {
  width: 95%;
  height: 95%;
  object-fit: contain; /* 이미지 비율 유지 */
  /* opacity: 0.2; */
  opacity: 0.8;
}
/* ------------------------------------swiper 섹션 */
.hero-section {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.hero-section .swiper {
  margin-top: 80px;
  /* width: 100%; */
  /* height: 100%; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* position: relative; */
}
.hero-section .swiper .swiper-wrapper {
  /* width: 100%; */
  display: flex;
  align-items: center;
  overflow: visible;
  /* gap: 40px; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* left: -70px; */
}
.hero-section .swiper .swiper-wrapper .swiper-slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform-origin: center center; */

  transform: scale(0.78);
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  /* overflow: visible; */
  /* height: 530px; */
}
.swiper-slide .swiper-packge {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-slide .swiper-packge img {
  border-radius: 24px;
  opacity: 0.7;
  /* width: 100%; */
  /* height: 100%; */
  /* overflow: hidden; */
}
.swiper-slide .swiper-packge .slide-gr {
}
.swiper-slide .swiper-packge .slide-overlay {
  z-index: 10;
  position: absolute;
  bottom: 10%;
  left: 15%;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.3s ease;
  white-space: nowrap;
}
.swiper-slide .swiper-packge .slide-overlay .slide-title {
  font-size: 32px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 4px;
}
.swiper-slide .swiper-packge .slide-overlay .slide-sub {
  font-size: 18px;
  color: #fff;
  margin-bottom: 12px;
  font-weight: 400;
}
.swiper-slide .swiper-packge .slide-overlay .slide-btn {
  display: inline-block;
  padding: 6px 16px;
  border: 2.5px solid #fe7901;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #fe7901;
}
.swiper-slide .swiper-packge .slide-btn:hover {
  background-color: rgb(54, 54, 54);
  font-weight: 700;
  /* color: #fe7901; */
  /* -webkit-text-stroke: 0.1px #ffffff; */
}
.swiper-slide-active {
  opacity: 1;
  z-index: 5;
}
.swiper-slide-active .swiper-packge {
  /* width: 100%;
  height: 100%; */
  /* position: absolute; */
  z-index: 5;
  opacity: 5;
  overflow: visible;
  transform: scale(1);

  transform: scale(1.25);
  /* object-fit: contain; */
}
.swiper-slide-active .swiper-packge img {
  border-radius: 32px;
  border: 5px solid rgba(254, 121, 1, 1);
  opacity: 5;
}
.swiper-slide-active .swiper-packge .slide-overlay {
  opacity: 5;
  /* 아래→위 올라오는 효과 */
  transform: translateY(0);
}
.swiper-slide-active .swiper-packge .slide-gr {
  border-radius: 0 0 24px 24px;
  opacity: 5;
  position: absolute;
  bottom: 5px;
  /* left: 0; */
  width: 410px;
  height: 50%;
  background: linear-gradient(to top, rgb(0, 0, 0) 1%, transparent 100%);
  pointer-events: none;
}
/* ---스와이퍼 양옆 화살표 ---*/
.swiper-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 500px;
  z-index: 50;
  width: 100%;
  pointer-events: none;
}
.custom-prev,
.custom-next {
  display: flex;
  top: 50%;
  z-index: 50;
  width: 50px;
  height: 50px;
  cursor: pointer;
  pointer-events: all;
}
.custom-prev:hover,
.custom-next:hover {
  transform: scale(1.3);
}

/* .all-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.all-link a {
  width: 200px;
}
.all-view {
  width: 100%;
  display: flex;
  margin-top: 9px;
  cursor: pointer;
}

.all-view p {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #1a1c26;
}
.all-view:hover p {
  color: #fe7901;
} */
/*  */
/* history-section */
.history-item {
  position: relative;
  top: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 0; */
  /* flex-direction: column; */
  overflow: hidden;
}
.item-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.history-info {
  z-index: 5;
  width: 100%;
  max-width: 1124px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  will-change: transform, opacity;
  /* padding: 160px 350px; */
}
.img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-color: #fff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}
.img-wrap .history-img {
  width: 100%;
  overflow: hidden;
}
.img-wrap.history-img img {
  width: 100%;
  object-fit: contain;
}
.history-info .step,
#history02 .step {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 40px;
  font-weight: 800;
  line-height: 54px;
  color: #1a1c26;
}
.history-info .step p {
  text-shadow:
    -2px -2px 0 white,
    2px -2px 0 white,
    -2px 2px 0 white,
    2px 2px 0 white;
}
.history-info .step .highlight {
  font-size: 42px;
  color: #fe7901;
}

/*  */
/* review-section */
.review-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.review-section .review-back-img {
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.review-section .review-back-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.review-section .inner {
  z-index: 5;
  padding: 32px 20px;
}
.review-section .inner .title {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 40px;
  font-weight: 800;
  font-family: "S-Core Dream";
  color: #1a1c26;
}
.review-section .inner .title p {
}
.review-section .inner .title span {
  color: #fffcf6;
}

/* review-swiper */
.review-section .swiper {
  width: 100%;
  height: 100%;
}
.review-section .swiper .swiper-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}
.review-section .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.review-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 24px 0;
  gap: 8px;
  border-radius: 40px;
  width: 420px;
  height: 330px;
  margin-top: 20px;
  margin-bottom: 48px;
  background-color: #fff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}
.review-card .card-tab {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 8px 3px;
  background-color: #fe7901;
  top: 0%;
  left: 10%;
  border-radius: 0 0 10px 10px;
  color: #fff;
}
.review-card .card-tab i {
  position: relative;
}
.review-card .card-tab p {
  font-size: 10px;
  font-weight: 700;
}
.review-card .card-top {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  padding: 16px 0;
  gap: 10px;
  border-bottom: 1px solid #808080;
}
.review-card .card-top .top-img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}
.review-card .card-top .top-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.review-card .card-top .title {
  font-weight: 700;
}
.review-card .card-caption {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14px;
  font-weight: 300;
}
.review-card .card-btn {
  position: absolute;
  bottom: 6%;
  right: 12%;
}
.review-card .card-btn button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 10px;
  background-color: #d3d3d3;
  border-radius: 10px;
  color: #fff;
  border: none;
}
.review-card .card-btn:hover button {
  background-color: #8b8b8b;
}
/* work */
.work-section {
  margin-top: 0;
  width: 100%;
  position: relative;
  z-index: 10;
}
.work-section .info {
  display: flex;
  flex-direction: column;
  background-color: #fffcf6;

  gap: 40px;
  padding: 40px 170px;
}
.work-section .info .title {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-top: 100px;
}
.work-section .info .title h2 {
  font-family: "S-Core Dream";
  font-weight: 900;
  font-size: 64px;
  color: #fe7901;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}
.media-list {
  align-items: center;
  justify-content: center;
  display: grid;
  margin-bottom: 72px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 120px;
}
.media-list .media-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 440px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.media-list .media-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.media-list .media-img:hover {
  transform: scale(1.1);
  box-shadow:
    0 0 10px rgba(254, 121, 1, 0.9),
    0 0 35px rgba(254, 121, 1, 0.6);
}

/* carousel */
.carousel-section {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.carousel-section .track {
  width: 100%;
  display: flex;
  gap: 12px;
  margin-top: 50px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  /* 왼쪽으로 무한 이동 */
  animation: scroll-left 20s linear infinite;
}
.carousel-section .track .track-line {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  gap: 12px;
}
.carousel-section .track .track-line li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;
  background-color: #e8e8e8;
  border-radius: 12px;
  white-space: nowrap;
}
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/*  */
/* break point */
@media (max-width: 1699px) {
  .review-section .inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1620px) {
  .footer-section .inner {
    display: flex;
    justify-content: space-between;
    max-width: 1620px;
    padding: 0 40px;
    padding-top: 48px;
    padding-bottom: 60px;
  }
}
@media (max-width: 1599px) {
  /*  */
  /* .history-info .step,
  #history02 .step {
    font-size: 35px;
  } */
  /*  */
  .review-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 40px;
    width: 250px;
    height: 280px;
    padding: 0 6px;
    margin-top: 20px;
    margin-bottom: 48px;
    background-color: #fff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  }
  .review-card .card-top .title {
    font-size: 14px;
  }
  .review-card .card-caption {
    font-size: 10px;
    font-weight: 300;
  }
  .media-list {
    align-items: center;
    justify-content: center;
    display: grid;
    margin-bottom: 72px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 80px;
  }
  .media-list .media-img {
    width: 330px;
    height: 450px;
    overflow: hidden;
  }
}
@media (max-width: 1499px) {
}
@media (max-width: 1441px) {
  .header .inner {
    padding: 16px 40px;
  }

  .review-section .inner .title {
    padding: 0 12px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 40px;
    font-weight: 800;
    font-family: "S-Core Dream";
    color: #1a1c26;
  }
  .review-card .card-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    padding: 16px 0;
    gap: 10px;
    border: none;
  }
  .review-card .card-top .top-img {
    width: 80px;
    height: 80px;
    overflow: hidden;
  }
  .review-card .card-top .top-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .review-card .card-caption {
    display: none;
  }
}
@media (max-width: 1279px) {
  .history-info {
    max-width: 960px;
  }
  .media-list {
    align-items: center;
    justify-content: center;
    display: grid;
    margin-bottom: 72px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 80px;
  }
  .media-list .media-img {
    width: 230px;
    height: 320px;
    overflow: hidden;
  }
}
@media (max-width: 1199px) {
  .search-box input {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 386px;
    height: 42px;
    border: none;
    font-family: "S-CoreDream";
  }
  .history-info {
    flex-direction: column;
    gap: 40px;
  }
  .img-wrap .history-img {
    width: 240px;
    height: 290px;
  }
}
/*  */
/*  */
/* tablet screen */
@media (max-width: 1023px) {
  .header .inner {
    width: 100%;
    padding: 0 24px;
  }
  .right-menu {
    display: none;
  }
  .mb-menu {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .mb-menu .search-icon,
  .mb-menu .user-icon {
    cursor: pointer;
  }
  .mb-menu .search-icon .fa-search,
  .mb-menu .user-icon .fa-user {
    font-size: 24px;
    color: #1a1c26;
  }
  .mb-menu .search-icon:hover .fa-search,
  .mb-menu .user-icon:hover .fa-user {
    color: #fe7901;
  }

  .gnb {
    display: flex;
    gap: 32px;
  }
  .gnb .menu-item {
    padding-top: 0px;
  }
  .gnb .menu-item a {
    font-size: 20px;
  }
  .gnb .menu-item .sub-menu {
    top: 72px;
  }
  .gnb .menu-item .sub-menu .sub-inner {
    width: 100%;
    padding: 0 0;
    display: flex;
    justify-content: center;
    gap: 60px;
  }
  .gnb .menu-item .sub-menu .sub-inner a {
    font-size: 16px;
  }

  /* footer-section */
  .footer-section .inner {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 36px;
    padding-bottom: 48px;
  }
  .footer-m {
    gap: 4px;
  }
  .footer-m ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .footer-m ul li {
    padding: 0 10px;
    font-size: 14px;
    font-family: "S-CoreDream";
    color: #fff;
  }
  .footer-m .copyright {
    padding: 0 10px;
    font-size: 12px;
    font-weight: 300;
    color: #fffcf6;
  }
  .sns-list {
    padding: 0 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sns-list li a {
    padding: 4px 3px;
  }
  .sns-list li a i {
    font-size: 14px;
  }

  .hero-bg {
    /* left: 160px; */
    /* top: -200px; */
  }

  .hero-bg img {
    width: 70%;
    height: 70%;
  }
  .hero-section {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .hero-section .swiper {
    margin-top: 80px;
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* position: relative; */
  }
  .hero-section .swiper .swiper-wrapper {
    /* width: 100%; */
    display: flex;
    align-items: center;
    overflow: visible;
    /* gap: 40px; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* left: -70px; */
  }
  .hero-section .swiper .swiper-wrapper .swiper-slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transform-origin: center center; */

    transform: scale(0.78);
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
    /* overflow: visible; */
    /* height: 530px; */
  }
  .swiper-slide .swiper-packge {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .swiper-slide .swiper-packge img {
    border-radius: 24px;
    opacity: 0.7;
    /* width: 100%; */
    /* height: 100%; */
    /* overflow: hidden; */
  }
  .swiper-slide .swiper-packge .slide-gr {
  }
  .swiper-slide .swiper-packge .slide-overlay {
    z-index: 10;
    position: absolute;
    bottom: 10%;
    left: 15%;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.3s ease;
    white-space: nowrap;
  }
  .swiper-slide .swiper-packge .slide-overlay .slide-title {
    font-size: 32px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 4px;
  }
  .swiper-slide .swiper-packge .slide-overlay .slide-sub {
    font-size: 18px;
    color: #fff;
    margin-bottom: 12px;
    font-weight: 400;
  }
  .swiper-slide .swiper-packge .slide-overlay .slide-btn {
    display: inline-block;
    padding: 6px 16px;
    border: 2.5px solid #fe7901;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background-color: #fe7901;
  }
  .swiper-slide .swiper-packge .slide-btn:hover {
    background-color: rgb(54, 54, 54);
    font-weight: 700;
    /* color: #fe7901; */
    /* -webkit-text-stroke: 0.1px #ffffff; */
  }
  .swiper-slide-active {
    opacity: 1;
    z-index: 5;
  }
  .swiper-slide-active .swiper-packge {
    /* width: 100%;
  height: 100%; */
    /* position: absolute; */
    z-index: 5;
    opacity: 5;
    overflow: visible;
    transform: scale(1);

    transform: scale(1.25);
    /* object-fit: contain; */
  }
  .swiper-slide-active .swiper-packge img {
    border-radius: 32px;
    border: 5px solid rgba(254, 121, 1, 1);
    opacity: 5;
  }
  .swiper-slide-active .swiper-packge .slide-overlay {
    opacity: 5;
    /* 아래→위 올라오는 효과 */
    transform: translateY(0);
  }
  .swiper-slide-active .swiper-packge .slide-gr {
    border-radius: 0 0 24px 24px;
    opacity: 5;
    position: absolute;
    bottom: 5px;
    /* left: 0; */
    width: 410px;
    height: 50%;
    background: linear-gradient(to top, rgb(0, 0, 0) 1%, transparent 100%);
    pointer-events: none;
  }
  /* ---스와이퍼 양옆 화살표 ---*/
  .swiper-buttons {
    display: none;
  }

  .history-info {
    /* flex-direction: column; */
    gap: 20px;
    /* padding: 80px 100px; */
  }
  .history-info .step,
  #history02 .step {
    gap: 13px;
    font-size: 32px;
    line-height: 48px;
  }
  .history-info .step .highlight {
    /* font-size: 24px; */
  }
  .img-wrap .history-img {
    width: 360px;
    height: 480px;
  }
  /* review-section */
  .review-section .inner .title {
    font-size: 32px;
  }
  .review-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 30px;
    width: 360px;
    height: 230px;
    margin-top: 20px;
    margin-bottom: 48px;
    background-color: #fff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  }
  .review-card .card-tab {
    left: 28%;
  }
  .review-card .card-btn {
    left: 28%;
  }
  .review-card .card-top .title {
    font-size: 10px;
    white-space: nowrap;
  }

  /* work-section */
  .work-section .info .title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .work-section .info .title h2 {
    font-size: 48px;
  }
  .media-list {
    align-items: center;
    justify-content: center;
    display: grid;
    margin-bottom: 72px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 80px;
  }
  .media-list .media-img {
    width: 150px;
    height: 210px;
    overflow: hidden;
  }
  .media-list .media-img:hover {
    transform: scale(1);
    box-shadow:
      0 0 0 rgba(255, 255, 255, 1),
      0 0 0 rgba(255, 255, 255, 1);
  }

  .carousel-section .track {
    margin-top: 5px;
    margin-bottom: 32px;
  }
}

/* mobile screen */
@media (max-width: 767px) {
  .swiper-slide .swiper-packge img {
    border-radius: 24px;
    opacity: 0.7;
    width: 80%;
    /* height: 100%; */
    /* overflow: hidden; */
  }
  .swiper-slide-active .swiper-packge img {
    border-radius: 32px;
    border: 5px solid rgba(254, 121, 1, 1);
    opacity: 5;
  }
  .swiper-slide-active .swiper-packge .slide-gr {
    border-radius: 0 0 24px 24px;
    opacity: 5;
    position: absolute;
    bottom: 5px;
    /* left: 0; */
    width: 78%;
    height: 50%;
    background: linear-gradient(to top, rgb(0, 0, 0) 1%, transparent 100%);
    pointer-events: none;
  }
  .mb-menu .search-icon .fa-search,
  .mb-menu .user-icon .fa-user {
    font-size: 16px;
  }
  .gnb {
    gap: 16px;
  }
  .gnb .menu-item {
    padding-top: 0px;
  }
  .gnb .menu-item a {
    font-size: 18px;
  }
  .gnb .menu-item .sub-menu {
    top: 72px;
  }
  .gnb .menu-item .sub-menu .sub-inner {
    width: 100%;
    max-width: 1441px;
    padding: 0px 0px;
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  .gnb .menu-item .sub-menu .sub-inner a {
    font-size: 14px;
  }

  .footer-m ul li {
    font-size: 12px;
  }
  .footer-m .copyright {
    font-size: 10px;
  }

  .hero-bg {
    left: 3%;
  }
  .hero-bg img {
    width: 100%;
    height: 100%;
  }
  .history-info {
    gap: 60px;
    /* padding: 20px 100px; */
  }
  .history-info .step,
  #history02 .step {
    font-size: 24px;
    line-height: 40px;
    text-align: center;
  }
  .history-info .step .highlight {
    font-size: 32px;
  }
  /* .img-wrap .history-img {
    width: 120px;
    height: 160px;
  } */
  .img-wrap .history-img {
    width: 300px;
    height: 420px;
  }
  /* review-section */
  .review-section .inner .title {
    font-size: 24px;
  }
  .review-card {
    width: 140px;
    height: 230px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  }
  .review-card .card-tab {
    left: 30%;
  }
  .review-card .card-tab i {
    display: none;
  }
  .review-card .card-btn {
    left: 18%;
  }
  .review-card .card-btn button {
    padding: 3px 8px;
    font-size: 12px;
  }
  .review-card .card-top .title {
    font-size: 8px;
  }
  .work-section .info .title h2 {
    font-size: 40px;
    white-space: nowrap;
  }
  .media-list {
    align-items: center;
    justify-content: center;
    display: grid;
    margin-bottom: 72px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }
  .media-list .media-img {
    width: 230px;
    height: 320px;
    overflow: hidden;
  }
}
@media (max-width: 680px) {
  .history-info {
    /* padding: 20px 80px; */
  }
  .history-info .step,
  #history02 .step {
    font-size: 20px;
    line-height: 26px;
  }
  .history-info .step .highlight {
    font-size: 24px;
  }
  /* .img-wrap .history-img {
    width: 100px;
    height: 140px;
  } */
}
@media (max-width: 590px) {
  .left-menu {
    position: relative;
    gap: 0;
    left: -30px;
  }
  .logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    /* height: 100%; */
  }
  .logo a img {
    width: 50%;
    height: 50%;
  }
  .gnb {
    gap: 16px;
  }
  .gnb .menu-item {
    padding-top: 0px;
  }
  .gnb .menu-item a {
    font-size: 18px;
  }
  .gnb .menu-item .sub-menu {
    padding: 16px 0;
    top: 40px;
  }
  .gnb .menu-item .sub-menu .sub-inner {
    width: 100%;
    padding: 0 0;
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  .gnb .menu-item .sub-menu .sub-inner a {
    font-size: 14px;
  }
  /* .img-wrap .history-img {
    width: 90px;
    height: 120px;
  } */
  .history-info .step,
  #history02 .step {
    white-space: nowrap;
  }
  /* .history-info .step .highlight {
    font-size: 20px;
  } */
  .menu-item {
    margin-top: 0px;
    font-size: 16px;
    white-space: nowrap;
  }
  .review-card .card-tab {
    left: 23%;
  }
  .media-list {
    grid-template-columns: repeat(2, 1fr);
    /* grid-column-gap: 28px; */
    grid-row-gap: 14px;
  }
  .media-list .media-img {
    width: 150px;
    height: 230px;
    overflow: hidden;
  }
}
/* mobile screen */
@media (max-width: 440px) {
  .history-info {
    /* gap: 12px; */
    /* padding: 10px 50px; */
  }
  .img-wrap .history-img {
    /* width: 140px; */
    /* height: 195px; */
  }
  /* review-section */
  .review-section .inner .title {
    font-size: 20px;
  }
  .review-card .card-tab {
    left: 30%;
  }
  .review-card .card-tab i {
    display: none;
  }
  .review-card .card-btn {
    left: 18%;
  }

  .review-card .card-top .title {
    font-size: 8px;
  }
  .work-section .info .title h2 {
    font-size: 40px;
    /* font-weight: 900; */
    /* white-space: nowrap; */
  }
}
@media (max-width: 321px) {
  .media-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
