@import url("https://cdn.jsdelivr.net");
@import url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff");

/*  */
/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* scroll-behavior: smooth; */
}
body {
  overflow-x: hidden;
  background-color: #fffcf6;
  font-family: "Leferi Base";
  /* font-family: "S-CoreDream"; */
  font-size: 16px;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: -0.02em;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
}
ul,
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: middle;
}
.inner {
  width: 100%;
  max-width: 1442px;
  margin: 0 auto;
  /* padding: 10px   0; */
}

/*  */
/* place-section */
.place-section {
  position: relative;
  width: 100%;
  height: 100%;
}
.place-section .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 140px;
}
.place-info {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}
.place-info .poster {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.place-info .poster img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.place-info .info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.place-info .info .info-title {
  display: flex;
  flex-direction: column;
}
.place-info .info .info-title .caption {
  display: flex;
  font-size: 28px;
  font-weight: 500;
  font-family: "S-CoreDream";
  color: #606060;
}
.place-info .info .info-title .title {
  display: flex;
  font-size: 60px;
  font-weight: 700;
  color: #fe7901;
}
.place-info .info .info-title .tag {
  margin-top: 12px;
}
.place-info .info .info-title ul {
  display: flex;
  gap: 10px;
}
.place-info .info .info-title ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "S-CoreDream";
  font-weight: 500;
  color: #1a1c26;
}
.place-info .info .info-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.place-info .info .info-description .caption {
  font-family: "S-Core Dream";
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
}
/*  */
/* place-list-section */
.place-list-section {
  position: relative;
  width: 100%;
  height: 100%;
}
.place-list-section .inner {
  display: flex;
  flex-direction: column;
  gap: 180px;
  margin-top: 120px;
  margin-bottom: 180px;
}
.container {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 50px 0;
  border-radius: 30px;
  border: 1px solid #000;
}
.container-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container-info .info-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 420px;
  gap: 8px;
  padding: 16px 20px;
  border-radius: 16px;
  background-color: #fcaa00;
}
.info-wrap .info-top {
  display: flex;
  align-items: center;
  gap: 10px;
}
.info-wrap .info-top .title {
  display: flex;
  color: #fff;
  font-family: "S-CoreDream";
  font-size: 40px;
  font-weight: 600;
}
.info-wrap .info-top .short-cut {
  font-family: "S-CoreDream";
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
.info-wrap ul {
  display: flex;
  gap: 10px;
}
.info-wrap ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "S-CoreDream";
  font-weight: 600;
  color: #1a1c26;
}
.info-wrap .location {
  font-family: "S-CoreDream";
  font-weight: 600;
  color: #1a1c26;
}
.info-wrap:hover {
  background-color: #1a1c26;
}
.info-wrap:hover .info-top .title,
.info-wrap:hover .info-top .short-cut {
  color: #fe7901;
}
.info-wrap:hover ul li,
.info-wrap:hover .location {
  color: #fffcf6;
}
.container-info .caption {
  padding: 0 20px;
  font-family: "S-Core Dream";
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
}
.container .container-img {
  position: relative;
}
.container .container-img .thumbnail {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 30px;
}
.container .container-img .thumbnail .thumbnail-img {
  /* width: 420px; */
  /* height: 280px; */
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 16px;
}
.container .container-img .thumbnail .thumbnail-img img {
  width: 420px;
  height: 280px;
  object-fit: contain;
}

/*  */

/*  */
/* posting.html */
.posting-section {
  position: relative;
  width: 100%;
  height: 100%;
}
.posting-section .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 180px;
}
.posting-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}
.posting-title .title {
  font-size: 36px;
  font-weight: 700;
  color: #fe7901;
}
.posting-title .location {
  font-weight: 500;
  font-family: "S-Core Dream";
  color: #606060;
}
.posting-title .sub-title {
  font-size: 24px;
  font-weight: 700;
  color: #1a1c26;
}
.post-area {
  display: flex;
  justify-content: flex-end;
  padding: 12px 0;
  width: 900px;
  border-bottom: 1px solid rgba(26, 28, 38, 0.3);
}
.post-area .links {
  display: flex;
  gap: 29px;
}
.post-area .links .like,
.post-area .links .book-mark,
.post-area .links .share {
  position: relative;
}
.post-area .links .like i,
.post-area .links .book-mark i,
.post-area .links .share i {
  font-size: 24px;
}
.photo-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  width: 900px;
}

.swiper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 570px;
}
.swiper-wrapper {
  position: relative;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 30px;
}
.swiper-slide img {
  width: 100%;
  object-fit: cover;
}
.swiper .swiper-btn-prev {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 5;
  width: 50px;
  height: 50px;
}
.swiper .swiper-btn-next {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 5;
}
.swiper .swiper-btn-prev img,
.swiper .swiper-btn-next img {
  width: 50px;
  height: 50px;
}
.photo-info .review-list {
  position: relative;
}
.photo-info .review-list ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.photo-info .review-list ul li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  overflow: hidden;
}
.photo-info .review-list ul li .review-upload-title {
  position: absolute;
  top: 42%;
  left: 15%;
  color: #fff;
  font-family: "S-Core Dream";
  font-weight: 500;
}
.photo-info .review-list ul li img {
  width: 280px;
  height: 200px;
  object-fit: cover;
}
.detailed-info,
.tip-info {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 900px;
}
.detailed-info .title,
.tip-info .title {
  margin-top: 32px;
  margin-bottom: 8px;
  border-bottom: 1px solid #000000;
}
.detailed-info .title h4,
.tip-info .title h4 {
  font-family: "S-Core Dream";
  font-weight: 600;
  font-size: 24px;
}
.detailed-info .title h4 em,
.tip-info .title h4 em {
  box-shadow: inset 0 -17px 0 rgba(254, 121, 1, 0.6);
}
.detailed-info .content {
  margin-top: 32px;
  margin-bottom: 8px;
  color: #1a1c26;
  font-weight: 400;
}
.detailed-info .content .point {
  margin-top: 14px;
}
/* tip-info */
.tip-info .way {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 32px;
}
.tip-info .way .way-tip {
  font-family: "S-Corm Dream";
  font-weight: 500;
  color: #1a1c26;
}
.tip-info .inr-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}
.tip-info .inr-wrap .inr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 12px;
  grid-column-gap: 40px;
}
.tip-info .inr-wrap .inr .inr-info {
  display: flex;
  gap: 24px;
}
.tip-info .inr-wrap .inr .inr-info strong {
  width: 128px;
  font-family: "S-Corm Dream";
  font-weight: 500;
  color: #1a1c26;
}
.tip-info .inr-wrap .inr .inr-info span {
  font-family: "S-Corm Dream";
  font-weight: 500;
  color: #1a1c26;
}

/*  */
/* setting-html */
.profile-section {
  position: relative;
  width: 100%;
  height: 680px;
}
.profile-section .inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
}
.profile-top {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  margin-top: 32px;
  padding: 30px 60px;
  border-radius: 30px;
  background-color: #fcaa00;
}
.profile-top .title {
  margin-top: 12px;
  margin-bottom: 36px;
}
.profile-top .title h3 {
  font-family: "S-Core Dream";
  font-weight: 600;
  font-size: 32px;
  color: #1a1c26;
}
.profile-top .info {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.profile-top .info ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 40px;
  justify-content: space-between;
}
.profile-top .info ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
  padding: 12px 0;
}
.profile-top .info ul li p {
  font-size: 24px;
  font-family: "S-Core Dream";
  color: #1a1c26;
  font-weight: 500;
}
/* .profile-section .info .review {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  background-color: #fff;
  border-radius: 20px;
  font-family: "S-Core Dream";
  font-size: 24px;
  font-weight: 500;
  color: #1a1c26;
} */
/*  */
.profile-setting {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 80px;
}
.profile-setting ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.profile-setting ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px 28px;
  background-color: #fff;
  border-bottom: 1px solid rgba(26, 28, 38, 0.3);
}

.profile-setting ul li p {
  font-family: "S-Core Dream";
  font-weight: 300;
  font-size: 20px;
  color: #1a1c26;
}
.profile-setting ul li i {
  font-size: 20px;
  color: #1a1c26;
}
.profile-setting ul li:hover p,
.profile-setting ul li:hover i {
  color: #fe7901;
}

/*  */
/* place-section */
@media (max-width: 1500px) {
  .inner {
    width: 100%;
    max-width: 1442px;
    margin: 0 auto;
    /* padding: 10px   0; */
  }
  /* place-section */
  .place-section {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .place-section .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    padding: 0 20px;
  }
  .place-info {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    margin-top: 120px;
  }
  .place-info .poster {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 90%;
    border-radius: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .place-info .poster img {
    width: 90%;
    /* height: 100%; */
    object-fit: contain;
  }
  .place-info .info {
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    gap: 5px;
  }
  .place-info .info .info-title {
    display: flex;
    flex-direction: column;
  }
  .place-info .info .info-title .caption {
    display: flex;
    font-size: 24px;
    font-weight: 500;
    font-family: "S-CoreDream";
    color: #606060;
  }
  .place-info .info .info-title .title {
    display: flex;
    font-size: 36px;
    white-space: nowrap;
    font-weight: 700;
    color: #fe7901;
  }
  .place-info .info .info-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }
  .place-info .info .info-title ul {
    display: flex;
    gap: 10px;
  }
  .place-info .info .info-title ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "S-CoreDream";
    font-weight: 500;
    color: #1a1c26;
  }
  .place-info .info .info-description .caption {
    font-family: "S-Core Dream";
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
  /*  */
  /* place-list-section */
  .place-list-section {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 40px;
  }
  .place-list-section .inner {
    display: flex;
    flex-direction: column;
    gap: 180px;
    margin-top: 120px;
    margin-bottom: 180px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    /* width: 100%; */
    padding: 50px 0;
    border-radius: 30px;
    border: 1px solid #000;
  }
  .container:last-child .container-info {
    order: 1;
  }
  .container:last-child .container-img {
    order: 2;
  }
  .container-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .container-info .info-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 420px;
    gap: 8px;
    padding: 16px 20px;
    border-radius: 16px;
    background-color: #fcaa00;
  }
  .info-wrap .info-top {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .info-wrap .info-top .title {
    display: flex;
    color: #fff;
    font-family: "S-CoreDream";
    font-size: 40px;
    font-weight: 600;
  }
  .info-wrap .info-top .short-cut {
    font-family: "S-CoreDream";
    font-size: 24px;
    font-weight: 600;
    color: #fff;
  }
  .info-wrap ul {
    display: flex;
    gap: 10px;
  }
  .info-wrap ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "S-CoreDream";
    font-weight: 600;
    color: #1a1c26;
  }
  .info-wrap .location {
    font-family: "S-CoreDream";
    font-weight: 600;
    color: #1a1c26;
  }
  .info-wrap:hover {
    background-color: #1a1c26;
  }
  .info-wrap:hover .info-top .title,
  .info-wrap:hover .info-top .short-cut {
    color: #fe7901;
  }
  .info-wrap:hover ul li,
  .info-wrap:hover .location {
    color: #fffcf6;
  }
  .container-info .caption {
    padding: 0 20px;
    font-family: "S-Core Dream";
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }
  .container .container-img {
    position: relative;
  }
  .container .container-img .thumbnail {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;
  }
  .container .container-img .thumbnail .thumbnail-img {
    /* width: 420px; */
    /* height: 280px; */
    /* width: 100%; */
    /* height: 100%; */
    overflow: hidden;
    border-radius: 16px;
  }
  .container .container-img .thumbnail .thumbnail-img img {
    width: 100%;
    /* height: 100%; */
    object-fit: contain;
  }
}
@media (max-width: 1279px) {
  .place-info .info .info-title .caption {
    display: flex;
    font-size: 24px;
    font-weight: 500;
    font-family: "S-CoreDream";
    color: #606060;
  }
  .place-info .info .info-title .title {
    display: flex;
    font-size: 36px;
    white-space: nowrap;
    font-weight: 700;
    color: #fe7901;
  }
  .place-info .info .info-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }
  .place-info .info .info-description ul {
    display: flex;
    gap: 10px;
  }
  .place-info .info .info-description ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "S-CoreDream";
    font-weight: 500;
    color: #1a1c26;
  }
  .place-info .info .info-description .caption {
    font-family: "S-Core Dream";
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 1000px) {
  .inner {
    width: 100%;
    max-width: 1442px;
    margin: 0 auto;
    /* padding: 10px   0; */
  }
  /* place-section */
  .place-section {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .place-section .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    padding: 0 20px;
  }
  .place-info {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    margin-top: 120px;
  }
  .place-info .poster {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .place-info .poster img {
    width: 80%;
    /* height: 100%; */
    object-fit: contain;
  }
  .place-info .info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .place-info .info .info-title {
    display: flex;
    flex-direction: column;
  }
  .place-info .info .info-title .caption {
    display: flex;
    font-size: 24px;
    font-weight: 500;
    font-family: "S-CoreDream";
    color: #606060;
  }
  .place-info .info .info-title .title {
    display: flex;
    font-size: 36px;
    white-space: nowrap;
    font-weight: 700;
    color: #fe7901;
  }
  .place-info .info .info-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }
  .place-info .info .info-description ul {
    display: flex;
    gap: 10px;
  }
  .place-info .info .info-description ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "S-CoreDream";
    font-weight: 500;
    color: #1a1c26;
  }
  .place-info .info .info-description .caption {
    font-family: "S-Core Dream";
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
  /*  */
  /* place-list-section */
  .place-list-section {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 40px;
  }
  .place-list-section .inner {
    display: flex;
    flex-direction: column;
    gap: 180px;
    margin-top: 120px;
    margin-bottom: 180px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    /* width: 100%; */
    padding: 50px 0;
    border-radius: 30px;
    border: 1px solid #000;
  }
  .container:last-child .container-info {
    order: 1;
  }
  .container:last-child .container-img {
    order: 2;
  }
  .container-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .container-info .info-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 420px;
    gap: 8px;
    padding: 16px 20px;
    border-radius: 16px;
    background-color: #fcaa00;
  }
  .info-wrap .info-top {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .info-wrap .info-top .title {
    display: flex;
    color: #fff;
    font-family: "S-CoreDream";
    font-size: 40px;
    font-weight: 600;
  }
  .info-wrap .info-top .short-cut {
    font-family: "S-CoreDream";
    font-size: 24px;
    font-weight: 600;
    color: #fff;
  }
  .info-wrap ul {
    display: flex;
    gap: 10px;
  }
  .info-wrap ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "S-CoreDream";
    font-weight: 600;
    color: #1a1c26;
  }
  .info-wrap .location {
    font-family: "S-CoreDream";
    font-weight: 600;
    color: #1a1c26;
  }
  .info-wrap:hover {
    background-color: #1a1c26;
  }
  .info-wrap:hover .info-top .title,
  .info-wrap:hover .info-top .short-cut {
    color: #fe7901;
  }
  .info-wrap:hover ul li,
  .info-wrap:hover .location {
    color: #fffcf6;
  }
  .container-info .caption {
    padding: 0 20px;
    font-family: "S-Core Dream";
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }
  .container .container-img {
    position: relative;
  }
  .container .container-img .thumbnail {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;
  }
  .container .container-img .thumbnail .thumbnail-img {
    /* width: 100%; */
    /* height: 100%; */
    overflow: hidden;
    border-radius: 16px;
  }
  .container .container-img .thumbnail .thumbnail-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
@media (max-width: 980px) {
  .container {
    padding: 50px 16px;
  }
  .container-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .container-info .info-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 420px;
    gap: 8px;
    padding: 16px 20px;
    border-radius: 16px;
    background-color: #fcaa00;
  }
  .info-wrap .info-top {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .info-wrap .info-top .title {
    display: flex;
    color: #fff;
    font-family: "S-CoreDream";
    font-size: 40px;
    font-weight: 600;
  }
  .info-wrap .info-top .short-cut {
    font-family: "S-CoreDream";
    font-size: 24px;
    font-weight: 600;
    color: #fff;
  }
  .info-wrap ul {
    display: flex;
    gap: 10px;
  }
  .info-wrap ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "S-CoreDream";
    font-weight: 600;
    color: #1a1c26;
  }
  .info-wrap .location {
    font-family: "S-CoreDream";
    font-weight: 600;
    color: #1a1c26;
  }
  .info-wrap:hover {
    background-color: #1a1c26;
  }
  .info-wrap:hover .info-top .title,
  .info-wrap:hover .info-top .short-cut {
    color: #fe7901;
  }
  .info-wrap:hover ul li,
  .info-wrap:hover .location {
    color: #fffcf6;
  }
  .container-info .caption {
    padding: 0 20px;
    font-family: "S-Core Dream";
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }
  .container .container-img {
    position: relative;
  }
  .container .container-img .thumbnail {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .container .container-img .thumbnail .thumbnail-img {
    /* width: 420px; */
    /* height: 280px; */
    /* width: 100%; */
    /* height: 100%; */
    overflow: hidden;
    border-radius: 16px;
  }
  .container .container-img .thumbnail .thumbnail-img img {
    width: 100%;
    /* height: 100%; */
    object-fit: contain;
  }
}
@media (max-width: 767px) {
  .inner {
    width: 100%;
    max-width: 1442px;
    margin: 0 auto;
    /* padding: 10px   0; */
  }
  /* place-section */
  .place-section {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .place-section .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
    padding: 0 30px;
  }
  .place-info {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    margin-top: 120px;
  }
  .place-info .poster {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .place-info .poster img {
    width: 80%;
    /* height: 100%; */
    object-fit: contain;
  }
  .place-info .info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .place-info .info .info-title {
    display: flex;
    flex-direction: column;
  }
  .place-info .info .info-title .caption {
    display: flex;
    font-size: 24px;
    font-weight: 500;
    font-family: "S-CoreDream";
    color: #606060;
  }
  .place-info .info .info-title .title {
    display: flex;
    font-size: 36px;
    white-space: nowrap;
    font-weight: 700;
    color: #fe7901;
  }
  .place-info .info .info-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }
  .place-info .info .info-description ul {
    display: flex;
    gap: 10px;
  }
  .place-info .info .info-description ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "S-CoreDream";
    font-weight: 500;
    color: #1a1c26;
  }
  .place-info .info .info-description .caption {
    font-family: "S-Core Dream";
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
  }
  /*  */
  /* place-list-section */
  .place-list-section {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .place-list-section .inner {
    display: flex;
    flex-direction: column;
    gap: 180px;
    margin-top: 120px;
    margin-bottom: 180px;
  }
  .container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px 12px;
    border-radius: 30px;
    border: 1px solid #000;
  }
}

/* posting-section */
@media (max-width: 1023px) {
  .posting-section .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 180px;
  }
  .posting-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
  }
  .posting-title .title {
    font-size: 32px;
    font-weight: 700;
    color: #fe7901;
  }
  .posting-title .location {
    font-weight: 500;
    font-family: "S-Core Dream";
    color: #606060;
  }
  .posting-title .sub-title {
    font-size: 20px;
    font-weight: 700;
    color: #1a1c26;
  }
  .post-area {
    display: flex;
    justify-content: flex-end;
    padding: 12px 0;
    width: 767px;
    border-bottom: 1px solid rgba(26, 28, 38, 0.3);
  }
  .post-area .links {
    display: flex;
    gap: 29px;
  }
  .post-area .links .like,
  .post-area .links .book-mark,
  .post-area .links .share {
    position: relative;
  }
  .post-area .links .like i,
  .post-area .links .book-mark i,
  .post-area .links .share i {
    font-size: 20px;
  }
  .photo-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
    width: 767px;
  }

  .swiper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 767px;
    height: 470px;
  }
  .swiper-wrapper {
    position: relative;
    /* width: 900px; */
    /* height: 570px; */
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 30px;
    /* width: 767px; */
    /* height: 570px; */
  }
  .swiper-slide img {
    width: 100%;
    /* height: 100%; */
    /* border-radius: 30px; */
    object-fit: cover;
  }
  .swiper .swiper-btn-prev,
  .swiper .swiper-btn-next {
    display: none;
  }
  .photo-info .review-list {
    position: relative;
  }
  .photo-info .review-list ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
  .photo-info .review-list ul li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    overflow: hidden;
  }
  .photo-info .review-list ul li .review-upload-title {
    position: absolute;
    top: 42%;
    left: 15%;
    color: #fff;
    font-family: "S-Core Dream";
    font-weight: 500;
  }
  .photo-info .review-list ul li img {
    width: 240px;
    height: 160px;
    object-fit: cover;
  }
  .detailed-info,
  .tip-info {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 767px;
  }
  .detailed-info .title,
  .tip-info .title {
    margin-top: 32px;
    margin-bottom: 8px;
    border-bottom: 1px solid #000000;
  }
  .detailed-info .title h4,
  .tip-info .title h4 {
    font-family: "S-Core Dream";
    font-weight: 600;
    font-size: 24px;
  }
  .detailed-info .title h4 em,
  .tip-info .title h4 em {
    box-shadow: inset 0 -17px 0 rgba(254, 121, 1, 0.6);
  }
  .detailed-info .content {
    margin-top: 32px;
    margin-bottom: 8px;
    color: #1a1c26;
    font-weight: 400;
  }
  .detailed-info .content .point {
    margin-top: 14px;
  }
  /* tip-info */
  .tip-info .way {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 32px;
  }
  .tip-info .way .way-tip {
    font-family: "S-Corm Dream";
    font-weight: 500;
    color: #1a1c26;
  }
  .tip-info .inr-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
  }
  .tip-info .inr-wrap .inr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 12px;
    grid-column-gap: 40px;
  }
  .tip-info .inr-wrap .inr .inr-info {
    display: flex;
    gap: 24px;
  }
  .tip-info .inr-wrap .inr .inr-info strong {
    width: 95px;
    font-family: "S-Corm Dream";
    font-weight: 500;
    color: #1a1c26;
    font-size: 14px;
  }
  .tip-info .inr-wrap .inr .inr-info span {
    font-family: "S-Corm Dream";
    font-weight: 500;
    color: #1a1c26;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .posting-section .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 180px;
  }
  .posting-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
  }
  .posting-title .title {
    font-size: 24px;
    font-weight: 700;
    color: #fe7901;
  }
  .posting-title .location {
    font-weight: 500;
    font-size: 14px;
    font-family: "S-Core Dream";
    color: #606060;
  }
  .posting-title .sub-title {
    font-size: 16px;
    font-weight: 700;
    color: #1a1c26;
  }
  .post-area {
    display: flex;
    justify-content: flex-end;
    padding: 12px 0;
    width: 350px;
    border-bottom: 1px solid rgba(26, 28, 38, 0.3);
  }
  .post-area .links {
    display: flex;
    gap: 29px;
  }
  .post-area .links .like,
  .post-area .links .book-mark,
  .post-area .links .share {
    position: relative;
  }
  .post-area .links .like i,
  .post-area .links .book-mark i,
  .post-area .links .share i {
    font-size: 14px;
  }
  .photo-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
    width: 767px;
  }

  .swiper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 220px;
  }
  .swiper-wrapper {
    position: relative;
    /* width: 900px; */
    /* height: 570px; */
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 30px;
    /* width: 767px; */
    /* height: 570px; */
  }
  .swiper-slide img {
    width: 100%;
    /* height: 100%; */
    /* border-radius: 30px; */
    object-fit: contain;
  }
  .photo-info .review-list {
    position: relative;
  }
  .photo-info .review-list ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
  .photo-info .review-list ul li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    overflow: hidden;
  }
  .photo-info .review-list ul li .review-upload-title {
    position: absolute;
    top: 42%;
    left: 15%;
    color: #fff;
    font-family: "S-Core Dream";
    font-weight: 500;
  }
  .photo-info .review-list ul li img {
    width: 120px;
    height: 80px;
    object-fit: cover;
  }
  .detailed-info,
  .tip-info {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 350px;
  }
  .detailed-info .title,
  .tip-info .title {
    margin-top: 32px;
    margin-bottom: 8px;
    border-bottom: 1px solid #000000;
  }
  .detailed-info .title h4,
  .tip-info .title h4 {
    font-family: "S-Core Dream";
    font-weight: 600;
    font-size: 20px;
  }
  .detailed-info .title h4 em,
  .tip-info .title h4 em {
    box-shadow: inset 0 -17px 0 rgba(254, 121, 1, 0.6);
  }
  .detailed-info .content {
    margin-top: 32px;
    margin-bottom: 8px;
    color: #1a1c26;
    font-weight: 400;
    font-size: 14px;
  }
  .detailed-info .content .point {
    margin-top: 14px;
  }
  /* tip-info */
  .tip-info .way {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 32px;
  }
  .tip-info .way .way-tip {
    font-family: "S-Corm Dream";
    font-weight: 500;
    color: #1a1c26;
  }
  .tip-info .inr-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
  }
  .tip-info .inr-wrap .inr {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 12px;
    grid-column-gap: 40px;
  }
  .tip-info .inr-wrap .inr .inr-info {
    display: flex;
    gap: 24px;
  }
  .tip-info .inr-wrap .inr .inr-info strong {
    width: 90px;
    font-family: "S-Corm Dream";
    font-weight: 500;
    color: #1a1c26;
    font-size: 14px;
  }
  .tip-info .inr-wrap .inr .inr-info span {
    font-family: "S-Corm Dream";
    font-weight: 500;
    color: #1a1c26;
    font-size: 14px;
  }
}

/* setting-html */
@media (max-width: 1023px) {
  .profile-section {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .profile-top .title h3 {
    font-family: "S-Core Dream";
    font-weight: 600;
    font-size: 24px;
    color: #1a1c26;
  }
  .profile-top .info ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .profile-top .info ul li p {
    font-size: 20px;
  }
  .profile-setting {
    margin-bottom: 80px;
  }
  .profile-setting ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .profile-setting ul li a p {
    font-size: 16px;
  }
  .profile-setting ul li a i {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .profile-section {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .profile-top .title h3 {
    font-size: 20px;
  }
  .profile-top .info ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .profile-top .info ul li p {
    font-size: 16px;
  }

  .profile-setting ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .profile-setting ul li a p {
    font-size: 14px;
  }
  .profile-setting ul li a i {
    font-size: 14px;
  }
}
